/using_v10/\#UsingV10.lyx\#
/using_v10/\#MOOS-V10-Tutorial.lyx\#
/using_v10/.DS_Store
.lyx~
/pShare/pShare.lyx~
/pShare/figures/.DS_Store
/pShare/.DS_Store
/.DS_Store
/using_v10/MOOS-V10-Tutorial.lyx~
/using_v10/images/.DS_Store
/pShare/pShare.tex
/using_v10/UsingV10.lyx~